h1 {
    text-align: center;
}
table {
margin-left: auto;
margin-right: auto;
}

.syntax {
    color: white;
    background-color: black;
    font-family: monospace;
}

.selector1 {
    color: red;
}

.selector2 {
    color: greenyellow;
}

.term {
    font-weight: bold;
}